repos:
        - repo: https://github.com/psf/black
          rev: stable
          hooks:
                  - id: black
                    language_version: python3.7

        - repo: https://gitlab.com/pycqa/flake8
          rev: 3.7.8
          hooks:
                  - id: flake8
                    language: python_venv
                    additional_dependencies: ["flake8-comprehensions"]

        - repo: https://github.com/pre-commit/mirrors-mypy
          rev: v0.720
          hooks:
                  - id: mypy
                    exclude: ^tests/

        - repo: https://github.com/pre-commit/mirrors-isort
          rev: v4.3.21
          hooks:
                  - id: isort
                    language: python_venv
